<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>All Movies</title>
</head>
<body>

    <span th:if="${param.message != null}" th:text="${param.message[0]}"></span>

    <div th:if="${movieList != null}">

        <table>
            <th>
                <td>ID</td>
                <td>Name</td>
                <td>Genere</td>
                <td>Rated</td>
                <td>Edit</td>
                <td>Delete</td>
            </th>
            <tr th:each="movie : ${movieList}">
                <td th:text="${movie.getUniqueId()}"></td>
                <td>
                    <a th:href="@{/movie/}+${movie.getUniqueId()}">
                        <span th:text="${movie.getName()}"></span>
                    </a>
                </td>
                <td th:text="${movie.getGenere()}"></td>
                <td th:text="${movie.getRated()}"></td>
                <td>
                    <a th:href="@{/movie/update/}+${movie.getUniqueId()}">Edit</a>
                </td>
                <td>
                    <form th:action="@{/movie/delete/}+${movie.getUniqueId()}" method="post">
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        </table>

    </div>

</body>
</html>