<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>Add New Movie</title>
</head>
<body>

	<span th:if="${param.message != null}" th:text="${param.message[0]}"></span>

	<form th:action="@{/movie/create}" method="post">
		<input type="text" name="name" placeholder="Movie Name"></input><br></br>
		<textarea cols="50" rows="20" name="storyLine" placeholder="Storyline"></textarea><br></br>
		<input type="text" name="language" placeholder="Language"></input><br></br>
		Image:<br></br>
		<input type="file" name="image"></input><br></br>
		Movie Industry:<br></br>
		<select name="industry">
			<option value="hollywood">Hollywood</option>
			<option value="bollywood">Bollywood</option>
			<option value="dhallywood">Dhallywood</option>
			<option value="tallywood">Tallywood</option>
		</select><br></br>
		<input type="text" name="genere" placeholder="Genere"></input><br></br>
		<input type="text" name="trailerUrl" placeholder="Trailer Url"></input><br></br>
		Release Date:<br></br>
		<input type="date" name="releaseDate"></input><br></br>
		<input type="text" name="duration" placeholder="Movie Duration"></input><br></br>
		<input type="text" name="budget" placeholder="Budget"></input><br></br>
		Rated:<br></br>
		<select name="rated">
			<option value="g">G</option>
			<option value="r">R</option>
			<option value="a">A</option>
		</select><br></br>
		<input type="text" name="productionHouse" placeholder="Production House"></input><br></br>
		<div>
			Cast and Crew list:<br></br>
			<select name="personIds" th:if="${personList != null}" multiple="multiple">
				<option th:each="person : ${personList}" th:value="${person.getUniqueId()}">
					<span th:text="${person.getName()}"></span>
				</option>
			</select><a th:href="@{/person/create}">Create New Cast/Crew</a>
		</div>
		
		<button type="submit">Submit</button>
	</form>
	
	<br></br>
</body>
</html>