<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>Create cast and crews</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<!--NAV BAR-->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" th:href="@{/admin/movie}">SMDB Admin Panel</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/admin/movie}">Home</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">All Items
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{/admin/movie/type/movie}">Movies</a></li>
                            <li><a th:href="@{/admin/movie/type/tvseries}">Tv Series</a></li>
                        </ul>
                    </li>
                    <li><a th:href="@{/admin/movie/featured}">Featured</a></li>
                    <li><a th:href="@{/admin/movie/upcoming}">Upcoming</a></li>
                    <li><a th:href="@{/admin/person}">Cast and Crews</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Create New
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{/admin/movie/create}">Create New Movie</a></li>
                            <li><a th:href="@{/admin/person/create}">Create New Cast/Crew</a></li>
                        </ul>
                    </li>
                    <li><a th:href="@{/login}"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav><!--END NAV BAR-->

<div class="container-fluid" style="padding-top: 50px; padding-bottom: 50px;">

    <div th:if="${bindingResult != null}" class="row alert alert-warning">
        <div class="col-sm-8 col-sm-offset-2" style="padding-top: 20px;">
            <div th:each="err : ${bindingResult.getFieldErrors()}">
                * <span th:text="${err.getDefaultMessage()}"></span><br></br>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <h3>Create Cast And Crew:</h3>

            <form th:action="@{/admin/person/create}" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label class="label label-primary" for="name">Name:</label>
                    <input class="form-control" type="text" id="name" name="name" th:value="${person?.getName()}"
                           placeholder="Name"></input>
                </div>
                <div class="form-group">
                    <label class="label label-primary" for="designations">Designations:</label>
                    <input class="form-control" type="text" id="designations" name="designations"
                           th:value="${person?.commaSeperatedArrayElements((person?.getDesignations()))}"
                           placeholder="Designations(Seperated by commas)"></input>
                </div>
                <div class="form-group">
                    <label class="label label-primary" for="birthDate">Birth Date:</label>
                    <input class="form-control" type="date" id="birthDate" name="birthDate"
                           placeholder="Birth Date"></input>
                </div>
                <div class="form-group">
                    <label class="label label-primary" for="bio">Bio:</label>
                    <textarea class="form-control" rows="5" id="bio" name="bio" th:text="${person?.getBio()}"
                              placeholder="Bio"></textarea>
                </div>
                <div class="form-group">
                    <label class="label label-primary" for="awards">Awards (Seperated by commas):</label>
                    <input class="form-control" type="text" id="awards" name="awards"
                           th:value="${person?.commaSeperatedArrayElements(person?.getAwards())}"
                           placeholder="Awards (Seperated by commas)"></input>
                </div>
                <div class="form-group">
                    <label class="label label-primary" for="socialLinks">Social Links (Seperated by commas):</label>
                    <input class="form-control" type="text" id="sociallinks" name="socialLinks"
                           th:value="${person?.commaSeperatedArrayElements(person?.getSocialLinks())}"
                           placeholder="Social Links (Seperated by commas)"></input>
                </div>
                <div class="form-group">
                    <label class="label label-primary" for="image">Image</label>
                    <input class="form-control" type="file" id="image" name="image"></input><br></br>
                </div>
                <button class="btn btn-primary" type="submit">Create</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>